html{
            scroll-behavior: smooth;
        }
        .main-header{
            display: flex;
            justify-content:space-between;
            align-items: center;
            padding: 5px 5%;
            background-color: #fff;
            border-bottom: 1px solid #eee;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            }
            .logo img{
                width: 300px;
            }
            .nav-menu a{
                text-decoration: none;
                color: #333;
                padding: 0 15px;               
            }
            .nav-container{
                display: flex;
                gap: 20px;
            }
            .nav-container a{
                text-decoration: none;
                color: #1c2625;
                font-weight: 400;
                font-size: 20px;
                padding: 50px;
                transition:  0.4s;
                
            }
            .nav-container a:hover{
                color:#148c64 ;
                transform: scale(1.2);
            }
            .header-tools a {
                text-decoration: none;
                width: auto;
                margin: 10px;
                font-size: 20px;
                color:#1c1d1d;
                transition: 0.4s;
                display: inline-block;
            }
            .header-tools a:hover{
                color: #148c64;
                transform: scale(1.2);
            }
            .hero{
                height: auto;
                background-size: cover;
                background-position: center;
                display:flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: rgb(35, 34, 34);
                width: 90%;
                margin: 0 auto;
                padding: 60px 0 ;
                justify-content: space-around; 
                
                }
                .hero-images{
                    position: relative;
                    flex: 0 1 50%;
                    width: 50%;
                    max-width: 600px;
                    overflow: hidden;
                    border-radius: 30px;
                }
                .slider-dots{
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    gap: 15px;
                    z-index: 10;
                }
                .slider-dots a {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.5);
                    border: 2px solid #dad5d5;
                    transition: 0.3s;
                    display: block;
                }
                .slider-dots a:focus,.slider-dots a:active {
                    background-color: #7f8c8d;
                }
                .slider-container{
                    display: flex;
                    overflow-x: auto;
                    scrollbar-width:none;
                    scroll-snap-type: x mandatory;
                    scroll-behavior: smooth;
                    
                }
                .slider-container::-webkit-scrollbar{
                    display: none;
                }
                .slider-container img{
                    flex: 0 0 100%;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border-radius: 30px;
                    scroll-snap-align: center;

                }
                /* .hero-images img{
                    width: 90%;
                    height: 90%;
                    border-radius: 30px;
                } */
                
                .hero-content{
                    flex-direction: row;
                    justify-content:space-between;
                }
                
            .hero-content h1 {
            font-size: 3.5rem;
            margin-bottom: 20px;
            letter-spacing: 2px;
            }

            .hero-content p {
            font-size: 1.5rem;
            margin-bottom: 30px;
            }
            

            .cta-btn {
            display: inline-block;
            padding: 15px 40px;
            background-color: #148c64; 
            color: rgb(250, 246, 246);
            text-decoration: none;
            font-size: 1.2rem;
            border-radius: 50px;
            transition: 0.3s;
        }
        .cta-btn:hover {
        background-color: #0e6347;
        transform: translateY(-5px);}
        .features{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            padding: 80px 5%;
            background-color: #f9f9f9;
        }
        .feature-card{
            background-color: #fff;
            flex: 0 1 280px;
            padding: 40px 30px;
            text-align: center;
            border-radius: 20px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.05);
            transition: 1s;
        }
        .feature-card:hover{
            transform: translateY(-10px);
            background-color: rgb(246, 237, 222);
            
            
        }
        .feature-card h3{
            color: #148c64;
            margin-bottom: 15px;
        }
        .feature-card p{
            color: #666;
            line-height: 1.6;
        }
        .main-footer{
            background-color: #00c1a2;
            color: white;
            text-align:left;
            padding: 30px 10px;
            margin-top: 50px;
            font-size: 14px;

        }
        .info-section{
            padding: 100px 10%;
            display: flex;
            flex-direction: column;
            gap: 100px;
        }
        .info-container{
            display: flex;
            align-items: center;
            gap: 80px;
        }
        .info-image img{
            width: 100%;
            max-width: 500px;
            border-radius: 30px;
            box-shadow: 0 10ox 20px rgba(0,0,0,0.1);

        }
        .info-container:nth-child(2){
            flex-direction: row-reverse;
        }
        .info-image{
            flex: 1;
        }

        .info-content{
            flex: 1;
            text-align: left;
        }
        .info-content h2{
            color: #00c1a2;
            font-size: 2rem;
            margin-bottom: 10px;
        }
        .title-line{
            width: 60px;
            height: 4px;
            background-color: #00c1a2;
            margin-bottom: 20px 0;
        }
        .info-content p{
            color: #555;
            line-height: 1.8;
            margin-bottom: 30px;
            font-size: 1.1rem;
        }
        .info-btn{
            display: inline-block;
            padding: 12px 30px;
            background-color: #00c1a2;
            color: white;
            text-decoration: none;
            border-radius: 10px;
            transition: 0.5s;
        }
        .info-btn:hover{
            background-color: #00a88d;
            transform: translateX(5px);

        }

            
            @media(max-width:768px)
            {.main-header{
                flex-direction:column;
                align-items: center;
                height: auto;
                padding: 20px 0;
                flex-wrap: wrap;
            }
            .nav-menu{
                margin-top: 15px;
            }
            .nav-menu a{
                display: inline-block;
                padding: 10px 15px;
            }
            .nav-container{
                width: 100%;
                order: 3;
                justify-content: center;
                margin-top: 10px;
                gap: 10px;
                flex-wrap: wrap;
            }
            .header-tools{
                display: flex;
                justify-content: flex-end;
            }
            .header-tools a{
                font-size: auto;
                width: auto;
                margin: 10px;
            }
            .hero{
                flex-direction: column;
            }
            .hero-content h1{
                font-size: 2rem;
            }
            .hero-images{
                width: 100%;
                margin-top: 10%;
            }
            .nav-container a{
                padding: 10px;
                font-size: 16px;

            }
            .features{
                padding: 40px 10%;
                gap: 20px;
            }
            .feature-card{
                flex: 0 1 100%;
                padding: 30px 20px;
            }
            .info-container{
                flex-direction: column;
            }
            .info-container.info-container:nth-child(even){
                flex-direction: column;
                gap: 30px;
            }
            }
